<footer role="contentinfo">
    All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013-2014. All rights reserved.
    <br>

    <ul class="menu">
        {{!--
            [LINK FOR STATIC PAGE]
            ------------------------------------------------------------------- 
            put your static page link, using the post/page slug here 
            for instance, you could add about us link page with this markup : 
            <li><a href="/about-us/">About Us</a></li>
        --}}
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
        <li><a href="/privacy/">Privacy</a></li>
    </ul>
    Powered by <a href="http://ghost.org"><strong>Ghost</strong></a>
</footer>